body {
    background-color: yellow;
}
#newGame {
    padding: 20px;
    text-align: center;
    font-size: 28px;
}
#message {
    text-align: center;
    font-size: 28px;
    padding: 20px;
}
table,th,td {
    border: 3px;
    margin-left:auto;
    margin-right:auto;
    border-style: solid;
    border-color: #000000;
    border-collapse: collapse;
    background:#fff
}
.square {
    height: 80px;
    width: 80px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}
